html, body{
	height:100%;
	font-family: 'Roboto', sans-serif;
	background-color: #ecf0f1;
}


header{
	padding: 2%;
	border-radius: 50%;
	background-color: white;
	display:inline-block;
}

strong{
	font-family: 'Russo One', sans-serif;
	color: #2980b9;
}

em{
	font-family: 'Righteous', cursive;
	color:#f1c40f;
}

h1,h3{
	margin:0;
	padding:0;
    
}

#subtitle{
	color: #2980b9;
	text-align:center;
}

main{
	max-width: 900px;
	background-color: white;
	border-radius: 4px;
	margin: 0 auto;
	padding: 1%;
	box-shadow: 0px 0px 6px #aaa;
}

main p{
	color: #2980b9;
}

